In [ ]:
import pandas as pd

df1 = pd.read_csv('out-tweets diainternacionaldelamujer.csv', sep=',')
df2 = pd.read_csv('out-tweets-2 8m2023.csv', sep=',')
df3 = pd.read_csv('out-tweets-3 DiaDeLaMujer.csv', sep=',')
df4 = pd.read_csv('out-tweets-4 8DeMarzo.csv', sep=',')

df_tweets = pd.concat([df1, df2, df3, df4])

print("\nHashtag #diainternacionaldelamujer:")
print(df1.shape)
print("\nHashtag #8m2023:")
print(df2.shape)
print("\nHashtag #DiaDeLaMujer:")
print(df3.shape)
print("\nHashtag #8DeMarzo:")
print(df4.shape)
print("\nTotal de los datos extraídos:")
print(df_tweets.shape)
df_tweets.head(5)

Hashtag #diainternacionaldelamujer:
(102842, 12)

Hashtag #8m2023:
(203913, 12)

Hashtag #DiaDeLaMujer:
(166191, 12)

Hashtag #8DeMarzo:
(115478, 12)

Total de los datos extraídos:
(588424, 12)

,Hashtags,Fecha,Texto,Usuario,Followers,Respuestas,Retweets,Likes,Citados,Vistas,Es_Rewteet,Idioma
0,"['8demarzo', 'DiaInternacionalDeLaMujer', 'Sim']",2023-03-11 23:58:47+00:00,"Este mes conmemoramos el día de la mujer, aque...",florki_,19,0,0,0,0,21.0,NaN,es
1,['DíaInternacionalDeLaMujer'],2023-03-11 23:51:02+00:00,"El santo padre nos invita a respetar, proteger...",RedDigital4T,30110,0,1,1,0,713.0,NaN,es
2,['DiaInternacionalDeLaMujer'],2023-03-11 23:49:54+00:00,@Excelsior Esa doña si merece todo el reconoci...,Ali_Gato_,15,0,0,0,0,5.0,NaN,es
3,"['diainternacionaldelamujer', 'adalovelace']",2023-03-11 23:46:21+00:00,Los aportes de Ada Lovelace y Dona Bailey al m...,Digital_Too,6491,0,0,0,0,36.0,NaN,es
4,"['Programa3', 'DíaInternacionalDeLaMujer']",2023-03-11 23:46:00+00:00,"Te esperamos el día de mañana, a las 12 h, en ...",OCBA_MX,2179,0,0,1,0,152.0,NaN,es

In [ ]:
df_tweets.info()
print('\n-----------------------\n')
print('Recuento de nulos')
df_tweets.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588424 entries, 0 to 115477
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Hashtags    443392 non-null  object
 1   Fecha       588424 non-null  object
 2   Texto       588424 non-null  object
 3   Usuario     588424 non-null  object
 4   Followers   588424 non-null  int64
 5   Respuestas  588424 non-null  int64
 6   Retweets    588424 non-null  int64
 7   Likes       588424 non-null  int64
 8   Citados     588424 non-null  int64
 9   Vistas      587861 non-null  float64
 10  Es_Rewteet  0 non-null       float64
 11  Idioma      588424 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 58.4+ MB

-----------------------

Recuento de nulos

Hashtags      145032
Fecha              0
Texto              0
Usuario            0
Followers          0
Respuestas         0
Retweets           0
Likes              0
Citados            0
Vistas           563
Es_Rewteet    588424
Idioma             0
dtype: int64

In [ ]:
df_tweets_limpieza = df_tweets

# Reemplazamos los nulos de Vistas por 0s
df_tweets_limpieza['Vistas'].fillna(0, inplace = True)

# Eliminamos la columna vacía
df_tweets_limpieza = df_tweets_limpieza.drop('Es_Rewteet', axis=1)

df_tweets_limpieza.head(5)

,Hashtags,Fecha,Texto,Usuario,Followers,Respuestas,Retweets,Likes,Citados,Vistas,Idioma
0,"['8demarzo', 'DiaInternacionalDeLaMujer', 'Sim']",2023-03-11 23:58:47+00:00,"Este mes conmemoramos el día de la mujer, aque...",florki_,19,0,0,0,0,21.0,es
1,['DíaInternacionalDeLaMujer'],2023-03-11 23:51:02+00:00,"El santo padre nos invita a respetar, proteger...",RedDigital4T,30110,0,1,1,0,713.0,es
2,['DiaInternacionalDeLaMujer'],2023-03-11 23:49:54+00:00,@Excelsior Esa doña si merece todo el reconoci...,Ali_Gato_,15,0,0,0,0,5.0,es
3,"['diainternacionaldelamujer', 'adalovelace']",2023-03-11 23:46:21+00:00,Los aportes de Ada Lovelace y Dona Bailey al m...,Digital_Too,6491,0,0,0,0,36.0,es
4,"['Programa3', 'DíaInternacionalDeLaMujer']",2023-03-11 23:46:00+00:00,"Te esperamos el día de mañana, a las 12 h, en ...",OCBA_MX,2179,0,0,1,0,152.0,es

In [ ]:
# Revisamos los idiomas que aparecen
gb = df_tweets_limpieza.groupby(['Idioma'])['Idioma'].count()
gb

Idioma
ar         46
ca       6684
cs         18
cy        160
da         36
de        409
el         11
en       4339
es     500373
et         58
eu        504
fa         10
fi         46
fr        463
hi         17
ht         95
hu         35
in        152
is         16
it        424
ja         79
ka          1
ko         17
lt         35
lv         20
mr          3
nl         28
no         12
pl         53
pt       5969
qht     10384
qme     40913
ro        158
ru          6
sl         26
sv         27
tl         81
tr      14150
uk          4
und      2544
vi          9
zh          9
Name: Idioma, dtype: int64

In [ ]:
# qht son hashtags y qme son hashtags y arrobas.
# Nos quedamos solo con los tweets que tengan lenguaje Español para facilitar el análisis de sentimientos
df_tweets_limpieza = df_tweets_limpieza[df_tweets_limpieza['Idioma'] == 'es']

# Eliminamos posibles duplicados al descargar tweets por hashtag
df_tweets_limpieza = df_tweets_limpieza.drop_duplicates(('Texto', 'Usuario', 'Fecha'))

df_tweets_limpieza.shape

(331960, 11)

In [ ]:
df_tweets_limpieza = df_tweets_limpieza[df_tweets_limpieza['Hashtags'].notnull()]

df_tweets_limpieza.shape

(203800, 11)

In [ ]:
df_tweets_limpieza.to_csv('tweets_limpios_sin_HT.csv', sep=',', index=False)

In [ ]:
from collections import Counter

total = df_tweets_limpieza['Texto']

listado = []

def extract_hashtags(text):
 
    # initializing hashtag_list variable
    hashtag_list = []
 
    # splitting the text into words
    for word in text.split():
 
        # checking the first character of every word
        if word[0] == '#':
 
            # adding the word to the hashtag_list
            hashtag_list.append(word[1:])
 
    for hashtag in hashtag_list:
        listado.append(hashtag)

for w in total:
  extract_hashtags(w)

d = Counter(listado)
d.most_common(20)

[('8M2023', 59217),
 ('DiaInternacionalDeLaMujer', 43034),
 ('8DeMarzo', 30635),
 ('8M', 30160),
 ('DiaDeLaMujer', 16871),
 ('DíaInternacionalDeLaMujer', 13679),
 ('8Marzo', 9523),
 ('DíaDeLaMujer', 6215),
 ('InternationalWomensDay', 6174),
 ('8deMarzo', 5652),
 ('diadelamujer', 4030),
 ('Edomex', 3920),
 ('8demarzo', 3713),
 ('DíaInternacionaldelaMujer', 3308),
 ('8m', 3307),
 ('Edoméx', 3208),
 ('8MarchWomensDay', 3194),
 ('Mujeres', 3150),
 ('mujeres', 2992),
 ('8marzo2023', 2891)]

In [ ]:
# Podríamos descargar también el Hashtag #8M, pero solo fue TT a nivel mundial y no en España. Por lo que no contendrá tantos tweets con lang = 'es' de los que no dispongamos ya.